<h1>Welcome to Kirks Travel Agency</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

I am from <%= @homeland %>

<ul>   

<% @countries.each do |country| %>
  <li> <%= country %></li>
<% end %>
</ul>


<% @images.each do |image| %>
<%= image_tag image %>
<% end %>

<%= image_tag "jam.jpg" %>
<%= image_tag "atlanta.jpg" %>
<%= image_tag "boston.jpg" %>
<%= image_tag "newyork.jpg" %>







